<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="DeviceIP" value="192.168.1.64"/>
		<add key="ChannelID" value="101"/>
		<add key="ApiUsername" value="admin"/>
		<add key="ApiPassword" value="Haslo123"/>
		<add key="COMPort" value="COM9"/>
	</appSettings>
</configuration>