<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="DeviceIP" value="192.168.9.10"/>
		<!--  Channel number in NVR or camera, depending on the model it can be in the format 901 - indicating channel 9 and the main stream, or just 9 -->
		<add key="ChannelID" value="9"/>
		<add key="ApiUsername" value="isapiuser"/>
		<add key="ApiPassword" value="09k07FJuKLm4"/>
		<!---COM port on which the POS will send data  -->
		<add key="COMPort" value="COM9"/>
		<!-- Maximum number of text lines that can be displayed (supported by the device) Depending on the camera or NVR model, it can range from 1 to 4 -->
		<add key="MaxLinesToSend" value="1"/>
	</appSettings>
</configuration>